html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

h3 {
  font-size: 18px;
  line-height: 150%;
}

.header {
  background-color: #d8d8d8;
}

.link {
  text-decoration: none;
  color: #5e5e5e;
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.link:hover,
.link:focus {
  background-color: #bcbbbb;
}

.link:active {
  opacity: 0.4;
}

.link-pic {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.link-pic:hover,
.link-pic:focus {
  box-shadow: 0 0 20px rgb(0 0 0 / 50%);
  border-radius: 5px;
}

.link-pic:active {
  opacity: 0.4;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  margin-right: 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 1px;
}

.container {
  padding-left: 75px;
  padding-right: 75px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.title {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.subtitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 45px;
}

.screen {
  border: 1px #b8b8b8 solid;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  display: block;
}

.article {
  display: grid;
  margin: 0 auto;
  row-gap: 15px;
}

.mail-link {
  margin: 0 auto;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  background-color: #d8d8d8;
}